body {
    margin: 0;
    background: #0d0d0d;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    background: #1c1c1c;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

button {
    margin-top: 10px;
    background: #ff3b94;
    border: none;
    padding: 14px 35px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #ff5aad;
}

.info {
    margin-top: 20px;
    padding: 15px;
    background: #111;
    border-radius: 10px;
    text-align: left;
}

.hidden {
    display: none;
}
